// GENERAL PROJECT STYLES

.section-title {
  font-family: $secondfont;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #001D26;
  font-size: 6rem;
  line-height: 115.4%;
  margin-bottom: 5.6rem;
  @media (max-width: 48em) {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}

.only-pc {
  display: block;
  @media (max-width: 48em) {
    display: none;
  }
}
.only-sp {
  display: none;
  @media (max-width: 48em) {
    display: block;
  }
}

.brc {
  margin-bottom: 2rem;
  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: rgba(0, 29, 38, 0.48);
    letter-spacing: 0.005em;
    margin-right: 0.8rem;
    &::after {
      margin-left: 0.3rem;
      flex-shrink: 0;
      content: '';
      display: inline-block;
      width: 1.6rem;
      height: 1.6rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../images/dist/brc.svg);
    }

    &.active {
      font-weight: 600;
      color: #001D26;
      &::after {
        display: none;
      }
    }
  }
  @media (max-width: 48em) {
    &__link {
      font-size: 1.2rem;
    }
  }
}

.btn {
  font-family: $secondfont;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #F98418;
  border-radius: 3.3rem;
  transition: opacity 200ms;
  img {
    flex-shrink: 0;
    height: 1.5rem;
    width: auto;
  }
  .before {
    margin-right: 1rem;
  }
  &:hover {
    opacity: 0.8;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.gap-140 {
  height: 14rem;
  @media (max-width: 48em) {
    height: 7rem;
  }
}