.buyer {
  margin-bottom: 10rem;
  &__inner {
    display: flex;
    gap: 5.2rem;
  }
  &__left {
    width: 55.2rem;
    flex-shrink: 0;
    padding-top: 5rem;
  }
  &__m-title {
    font-size: 5.2rem;
    font-weight: 500;
    margin-bottom: 3.3rem;
  }
  &__text {
    font-size: 2rem;
    margin-bottom: 6rem;
  }
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-align: center;
    background-color: #000;
    padding: 2.5rem;
    min-width: 35rem;
    color: #fff;
    border-radius: 5rem;
  }
  @include mob {
    margin-bottom: 10rem;
    &__inner {
      display: block;
    }
    &__left {
      width: 100%;
      padding-top: 2rem;
    }
    &__m-title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
    &__text {
      font-size: 1.4rem;
      margin-bottom: 4rem;
    }
    &__btn {
      font-size: 1.6rem;
      padding: 2rem 4.5rem;
      min-width: none;
    }
    &__right {
      width: 100vw;
      position: relative;
      left: -1.5rem;
    }
  }
}

.about-prod {
  margin-bottom: 12rem;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  &__left {
    width: 71.2rem;
    position: relative;
    padding-bottom: 8.5rem;
    flex-shrink: 0;
    img {
      height: 56.6rem;
      object-fit: cover;
      border-radius: 1.5rem;
      overflow: hidden;
      position: relative;
      z-index: 1;
    }
  }
  &__context {
    position: absolute;
    left: 3rem;
    bottom: 0;
    z-index: 2;
    border-radius: 1.5rem;
    background-color: #F0EFF4;
    padding: 3.5rem 3rem;
    width: 55.5rem;
  }
  &__c-title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
  }
  &__c-text {
    font-size: 2.4rem;
  }
  &__subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2.6rem;
  }
  &__title {
    font-size: 5.2rem;
    margin-bottom: 3.3rem;
    font-weight: 500;
  }
  &__text {
    font-size: 2rem;
  }
  @include mob {
    margin-bottom: 7rem;
    &__inner {
      flex-direction: column-reverse;
    }
    &__left {
      width: 100%;
      padding-bottom: 7rem;
      img {
        height: 34rem;
      }
    }
    &__context {
      left: 1.5rem;
      border-radius: 0.8rem;
      padding: 1.5rem 2rem;
      width: calc(100% - 3rem);
    }
    &__c-title {
      font-size: 1.4rem;
      margin-bottom: 0.7rem;
    }
    &__c-text {
      font-size: 1.4rem;
    }
    &__subtitle {
      font-size: 1.3rem;
      margin-bottom: 1.5rem;
    }
    &__title {
      font-size: 2.8rem;
      margin-bottom: 2rem;
    }
    &__text {
      font-size: 1.4rem;
    }
  }
}