.contacts {
  margin-bottom: 10rem;
  padding-top: 3rem;
  &__mtitle {
    font-size: 5.2rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  &__item {
    display: flex;
    flex-direction: column;
    min-height: 25.4rem;
    padding: 2rem;
    border-radius: 2rem;
    border: 0.1rem solid #F0F0F0;
  }
  &__icon {
    width: 6rem;
    height: 6rem;
    margin-bottom: auto;
    @include img-contain;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  &__link {
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: underline;
  }
  @include mob {
    margin-bottom: 7rem;
    &__mtitle {
      font-size: 2.8rem;
      margin-bottom: 3rem;
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }
    &__item {
      min-height: auto;
      padding: 1.5rem;
      border-radius: 1.5rem;
    }
    &__icon {
      width: 4rem;
      height: 4rem;
      margin-bottom: 2rem;
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
    }
    &__text {
      font-size: 1.4rem;
      margin-bottom: 1.5rem;
    }
  }
}